body{
    margin: 0;
    padding: 0;
    font-family: 'Source Serif Pro', serif;
}
#divMainContent{
    margin: 0 auto;
    width: 370px;
    height: 650px;

    .pyramidPointer {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 20px solid #ffffff;
            filter: drop-shadow(0px -16px 30px #353535);
            float: right;
            margin-top: -15px;
    }

    .shoppingImg  {
        width: 42px;
        height: 35px;
        margin-left: 280px;
        border: 1px solid #000000;
        padding: 20px 22px;
        
    }

    #divCartContent {
        width: 324px;
        height: 547.23px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.45);
        padding: 0 18px;
        margin-top: 10px;

        h3 {
            margin: 0;
            font-family: 'Roboto';
            font-style: normal;
            font-size: 14px;
            color: #0D0D0D;
            line-height: 24px;
        }
       
     }
     .divButton {
        width: 324px;
        height: 30px;
        background: #F9F9F9;
        border: 1px solid #BCBCBC;

    }
    #divider {
        border: 1 solid #BCBCBC;
        height: 1px;
        background-color: #BCBCBC;
    }  

    #divItemContentMain {
        overflow: hidden;
        height: 370px;
        position: relative;

    }

    #divItemContent {

        >img {
            float: left;
            width: 95px;
            height: 95px;
            margin-right: 12px;
        }
        h2 {
            font-size: 14px;
            color: #0D0D0D;
            line-height: 24px;
            margin: 10px 0;
            font-family: 'Source Serif Pro';
        }
        p {
            color: #707070;
            font-size: 14px;
            line-height: 18px;
            margin: 1px  0;
        }

    }
    #functionButtons {
        margin-top: 18px;
        .edit {
            background-color: #ffffff;
            border: 1px solid #0D0D0D;
            width: 135px;
            h4 {
                font-size: 14px;
                padding: 9px 20px;
                font-family: 'Roboto';
                margin: 0;
                font-weight: normal;
            }
        }
        .checkout{
            background-color:  #79AD36;
            border: 1px solid #0D0D0D;
            width: 177px;
            right: 0;
            margin-left: 8.2px;
            
            h4{
                color: #ffffff;
                text-transform: uppercase;
                font-size: 14px;
                padding: 9px 36px;
                font-family: 'Roboto';
                margin: 0;
                font-weight: normal;
                font-style: normal;
            }
        }
    }
}
